.task-form {
  form {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: fit-content;
    input {
      margin: 0.5rem 0;
      padding: 0 0.3rem;
    }
    &>input {
      min-width: 15rem;
      max-width: fit-content;
    }
    div {
      width: 100%;
      &>input {
        width: 80%;
      }
      input[type='button'] {
        width: 20%;
      }
    }
  }
}