.contacts {
  .contacts--birthdays-box {
    margin-right: 1rem;
  }
  .contacts--contacts-box {
    .contacts-box__search {
      align-items: center;
      justify-content: space-between;
    }
  }
}