.search {
  position: relative;
  min-width: 60%;
  margin: 0 0 0 1rem;
  .search__icon {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    cursor: pointer;
  }
  .search__input {
    box-sizing: border-box;
    padding-left: 2.5rem;
    width: 100%;
  }
}