.task-form.expanded {
  form {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: fit-content;
    input {
      margin: 0.5rem 0;
      padding: 0 0.3rem;
    }
    &>input {
      min-width: 15rem;
      max-width: fit-content;
    }
    div {
      width: 100%;
      &>input {
        width: 80%;
      }
      input[type='button'] {
        width: 20%;
      }
      i {
        display: none;
      }
    }
  }
}

.task-form.compressed {
  .task-form__title-form {
    display: none;
  }
  form {
    display: flex;
    max-width: fit-content;
    input {
      margin: 0 0.5rem 0 0;
      padding: 0 0.3rem;
    }
    &>input {
      min-width: 8rem;
      max-width: fit-content;
    }
    div {
      align-items: center;
      &>input {
        width: 7rem;
      }
      input[type='button'] {
        display: none;
      }
      i {
        display: block;
        cursor: pointer;
      }
    }
  }
}