.element-todo-list {
  &>div {
    justify-content: space-between;
    .element-todo-list__check-icon {
      .checked {
        display: none;
      }
      &:hover {
        .checked {
          display: block;
        }
        .unchecked {
          display: none;
        }
      }

    }
    .element-todo-list__check-icon, .element-todo-list__clear-icon {
      width: 2rem;
      cursor: pointer;
    }
    p {
      width: 80%;
    }
  }
}