.fieldAdditionalFunctions {
  justify-content: space-between;
  align-items: center;
  &>ul {
    &>li {
      white-space: nowrap;
    }
  }
  i.material-icons.up {
    transform: rotate(-90deg);
    width: 1em;
    cursor: pointer;
    height: fit-content;
  }
  i.material-icons.down {
    transform: rotate(90deg);
    width: 1em;
    cursor: pointer;
  }
  .boxAdditionalFunctions {
    width: 90%;
    justify-content: center;
    &>*{
      margin: 0 1em;
    }
  }
}