.footer {
  min-height: 62px;
  i {
    cursor: pointer;
    width: 1em;
  }
  input[type='checkbox'] {
    display: none;
  }
  p {
    margin: 0 0.5rem 0 0;
  }

  .tasks-creator {
    margin-right: 1rem;
    .label-for-close-tasks-creator {
      max-height: 30px;
      i {
        font-size: xx-large;
      }
    }
    .compressed, .label-for-close-tasks-creator {
      display: none;
    }
    .switcher-tasks-creator:checked ~ .compressed,
    .switcher-tasks-creator:checked ~ .label-for-close-tasks-creator {
      display: block;
    }
    .switcher-tasks-creator:checked ~ .label-for-open-tasks-creator {
      display: none;
    }
  }

  .contact-creator {
    .label-for-close-contact-creator {
      max-height: 30px;
      i {
        font-size: xx-large;
      }
    }
    .contact-form-reduced, .label-for-close-contact-creator {
      display: none;
    }
    .switcher-contact-creator:checked ~ .contact-form-reduced {
      display: flex;
    }
    .switcher-contact-creator:checked ~ .label-for-close-contact-creator {
      display: block;
    }
    .switcher-contact-creator:checked ~ .label-for-open-contact-creator {
      display: none;
    }
  }

}